@import "tailwindcss";

@plugin "daisyui" {
    themes: false;
    exclude: rootscrollgutter, scrollbar;
}

@plugin "daisyui/theme" {
    name: "novalight";
    default: true;
    prefersdark: false;
    color-scheme: "light";

    --nova-primary-100: #4069d4;
    --nova-primary-200: #395ebc;
    --nova-primary-300: #3252a5;
    --nova-primary-400: #2b468d;
    --nova-primary-500: #243b76;
    --nova-primary-600: #1c2f5e;
    --nova-primary-700: #152346;
    --nova-primary-800: #0e172f;
    --nova-primary-900: #070c17;
    --nova-secondary-100: #6340d4;
    --nova-secondary-200: #5839bc;
    --nova-secondary-300: #4d32a5;
    --nova-secondary-400: #422b8d;
    --nova-secondary-500: #372476;
    --nova-secondary-600: #2c1c5e;
    --nova-secondary-700: #211546;
    --nova-secondary-800: #160e2f;
    --nova-secondary-900: #0b0717;
    --nova-accent-100: #d48340;
    --nova-accent-200: #bc7439;
    --nova-accent-300: #a56632;
    --nova-accent-400: #8d572b;
    --nova-accent-500: #764924;
    --nova-accent-600: #5e3a1c;
    --nova-accent-700: #462b15;
    --nova-accent-800: #2f1d0e;
    --nova-accent-900: #170e07;
    --nova-base-100: #abc2dd;
    --nova-base-200: #98acc5;
    --nova-base-300: #8597ac;
    --nova-base-400: #728194;
    --nova-base-500: #5f6c7b;
    --nova-base-600: #4c5662;
    --nova-base-700: #39404a;
    --nova-base-800: #262b31;
    --nova-base-900: #131519;
    --nova-base-000: #000000;
    --nova-error-100: #d44040;
    --nova-error-200: #bc3939;
    --nova-error-300: #a53232;
    --nova-error-400: #8d2b2b;
    --nova-error-500: #762424;
    --nova-error-600: #5e1c1c;
    --nova-error-700: #461515;
    --nova-error-800: #2f0e0e;
    --nova-error-900: #170707;
    --nova-warning-100: #d49940;
    --nova-warning-200: #bc8839;
    --nova-warning-300: #a57732;
    --nova-warning-400: #8d662b;
    --nova-warning-500: #765524;
    --nova-warning-600: #5e441c;
    --nova-warning-700: #463315;
    --nova-warning-800: #2f220e;
    --nova-warning-900: #171107;
    --nova-success-100: #8bd440;
    --nova-success-200: #7bbc39;
    --nova-success-300: #6ca532;
    --nova-success-400: #5c8d2b;
    --nova-success-500: #4d7624;
    --nova-success-600: #3e5e1c;
    --nova-success-700: #2e4615;
    --nova-success-800: #1f2f0e;
    --nova-success-900: #0f1707;

    --color-base-100: var(--nova-base-100);
    --color-base-200: var(--nova-base-200);
    --color-base-300: var(--nova-base-300);
    --color-base-content: #fff;
    --color-primary: var(--nova-primary-900);
    --color-primary-content: var(--nova-primary-100);
    --color-secondary: var(--nova-secondary-900);
    --color-secondary-content: var(--nova-secondary-100);
    --color-accent: var(--nova-accent-900);
    --color-accent-content: var(--nova-accent-100);
    --color-error: var(--nova-error-900);
    --color-error-content: var(--nova-error-100);
    --color-warning: var(--nova-warning-900);
    --color-warning-content: var(--nova-warning-100);
    --color-success: var(--nova-success-900);
    --color-success-content: var(--nova-success-100);
    --color-info: var(--nova-primary-900);
    --color-info-content: var(--nova-primary-100);

    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}

@plugin "daisyui/theme" {
    name: "novadark";
    default: false;
    prefersdark: true;
    color-scheme: "dark";

    --nova-primary-100: #070c17;
    --nova-primary-200: #0e172f;
    --nova-primary-300: #152346;
    --nova-primary-400: #1c2f5e;
    --nova-primary-500: #243b76;
    --nova-primary-600: #2b468d;
    --nova-primary-700: #3252a5;
    --nova-primary-800: #395ebc;
    --nova-primary-900: #4069d4;
    --nova-secondary-100: #0b0717;
    --nova-secondary-200: #160e2f;
    --nova-secondary-300: #211546;
    --nova-secondary-400: #2c1c5e;
    --nova-secondary-500: #372476;
    --nova-secondary-600: #422b8d;
    --nova-secondary-700: #4d32a5;
    --nova-secondary-800: #5839bc;
    --nova-secondary-900: #6340d4;
    --nova-accent-100: #170e07;
    --nova-accent-200: #2f1d0e;
    --nova-accent-300: #462b15;
    --nova-accent-400: #5e3a1c;
    --nova-accent-500: #764924;
    --nova-accent-600: #8d572b;
    --nova-accent-700: #a56632;
    --nova-accent-800: #bc7439;
    --nova-accent-900: #d48340;
    --nova-base-100: #131519;
    --nova-base-200: #262b31;
    --nova-base-300: #39404a;
    --nova-base-400: #4c5662;
    --nova-base-500: #5f6c7b;
    --nova-base-600: #728194;
    --nova-base-700: #8597ac;
    --nova-base-800: #98acc5;
    --nova-base-900: #abc2dd;
    --nova-base-000: #bed7f6;
    --nova-error-100: #170707;
    --nova-error-200: #2f0e0e;
    --nova-error-300: #461515;
    --nova-error-400: #5e1c1c;
    --nova-error-500: #762424;
    --nova-error-600: #8d2b2b;
    --nova-error-700: #a53232;
    --nova-error-800: #bc3939;
    --nova-error-900: #d44040;
    --nova-warning-100: #171107;
    --nova-warning-200: #2f220e;
    --nova-warning-300: #463315;
    --nova-warning-400: #5e441c;
    --nova-warning-500: #765524;
    --nova-warning-600: #8d662b;
    --nova-warning-700: #a57732;
    --nova-warning-800: #bc8839;
    --nova-warning-900: #d49940;
    --nova-success-100: #0f1707;
    --nova-success-200: #1f2f0e;
    --nova-success-300: #2e4615;
    --nova-success-400: #3e5e1c;
    --nova-success-500: #4d7624;
    --nova-success-600: #5c8d2b;
    --nova-success-700: #6ca532;
    --nova-success-800: #7bbc39;
    --nova-success-900: #8bd440;
}

@plugin "@iconify/tailwind4";
